@model MediaMonitoring.Models.WatchDogViewModel
@{
    ViewData["Title"] = "WatchDog Report";
    Layout = "~/Views/Shared/_LayoutElectronic.cshtml";
}

<p class="my-4 p-2"><a asp-controller="Electronic" asp-action="WatchDog"><i class="fas fa-chevron-left px-2"></i>Go back</a></p>

<!-- DataTales Example -->
<div class="card mb-4">
    <div class="card-header py-3 bg-white">
        <h3 class="p-4 font-weight-bold text-black">Watchdog Report</h3>
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-6 mt-3 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-none border border-secondary medium" placeholder="Search a brand or Station" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="border border-secondary btn" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @if (Model.WatchDogs != null)
            {
                <div class="my-4 ml-4">
                    @*<a asp-action="Export" asp-controller="Electronic" asp-route-operation="WatchDogTv" class="btn btn-secondary">Download a copy <i class="fas fa-download pl-4"></i></a>*@
                    <form asp-action="Export" asp-controller="Electronic" asp-route-operation="WatchDogTv" method="post">
                        <input type="hidden" name="GridHtml" />
                        <button type="submit" class="btn btn-secondary btnSubmit">Download a copy <i class="fas fa-download pl-4"></i></button>
                    </form>
                </div>
                <div id="Grid">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-grey">
                            <tr class="text-black">
                                <th>Station</th>
                                <th>Brand</th>
                                <th>Program</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Duration</th>
                                <th>Identifier</th>
                                <th>GRP</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.WatchDogs)
                            {
                                <tr>
                                    <td>@item.Station</td>
                                    <td>@item.Brand</td>
                                    <td>@item.Program</td>
                                    <td>@item.Date.Value.ToShortDateString()</td>
                                    <td>@item.Time</td>
                                    @*<td>₦@item.Amount.ToString()</td>*@
                                    <td>@item.Duration.ToString() Sec</td>
                                    <td>@item.Identifier</td>
                                    <td>@item.GRP.ToString("0.####")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.WatchDogRadios != null)
            {
                <div class="my-4 ml-4">
                    <form asp-action="Export" asp-controller="Electronic" asp-route-operation="WatchDogRadio" method="post">
                        <input type="hidden" name="GridHtml" />
                        <button type="submit" class="btn btn-secondary btnSubmit">Download a copy <i class="fas fa-download pl-4"></i></button>
                    </form>
                </div>
                <div id="Grid">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-grey">
                            <tr class="text-black">
                                <th>Station</th>
                                <th>Brand</th>
                                <th>Program</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Duration</th>
                                <th>Identifier</th>
                                <th>GRP</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.WatchDogRadios)
                            {
                                <tr>
                                    <td>@item.Station</td>
                                    <td>@item.Brand</td>
                                    <td>@item.Program</td>
                                    <td>@item.Date.Value.ToShortDateString()</td>
                                    <td>@item.Time</td>
                                    <td>@item.Duration.ToString() Sec</td>
                                    <td>@item.Identifier</td>
                                    <td>@item.GRP.ToString("0.####")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.WatchDogPresses != null)
            {
                <div class="my-4 ml-4">
                    <form asp-action="Export" asp-controller="Electronic" asp-route-operation="WatchDogPrint" method="post">
                        <input type="hidden" name="GridHtml" />
                        <button type="submit" class="btn btn-secondary btnSubmit">Download a copy <i class="fas fa-download pl-4"></i></button>
                    </form>
                </div>
                <div id="Grid">
                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                        <thead class="bg-grey">
                            <tr class="text-black">
                                <th>Brand</th>
                                <th>Publication</th>
                                <th>Print Date</th>
                                <th>Ad Rate</th>
                                <th>Identifier</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.WatchDogPresses)
                            {
                                <tr>
                                    <td>@item.Brand</td>
                                    <td>@item.Publication</td>
                                    <td>@item.IssueDate.Value.ToShortDateString()</td>
                                    <td>₦@item.Rate</td>
                                    <td>@item.Identifier</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.WatchDogOutdoors != null)
            {
                <div class="my-4 ml-4">
                    <form asp-action="Export" asp-controller="Electronic" asp-route-operation="WatchDogOOH" method="post">
                        <input type="hidden" name="GridHtml" />
                        <button type="submit" class="btn btn-secondary btnSubmit">Download a copy <i class="fas fa-download pl-4"></i></button>
                    </form>
                </div>
                <div id="Grid">
                    <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                        <thead class="bg-grey">
                            <tr class="text-black">
                                <th>Advertiser</th>
                                <th>Board Number</th>
                                <th>Brand</th>
                                <th>Contractor</th>
                                <th>Date Monitored</th>
                                <th>Amount</th>
                                <th>State</th>
                                <th>Town</th>
                                <th>Location</th>
                                <th>Sheet</th>
                                <th>Condition</th>
                                <th>Identifier</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.WatchDogOutdoors)
                            {
                                <tr>
                                    <td>@item.Advertizer</td>
                                    <td>@item.BoardNumber</td>
                                    <td>@item.Brand</td>
                                    <td>@item.Contractor</td>
                                    <td>@item.DateCaptured.Value.ToShortDateString()</td>
                                    <td>₦@item.AMOUNT</td>
                                    <td>@item.State</td>
                                    <td>@item.Town</td>
                                    <td>@item.Location</td>
                                    <td>@item.Sheet</td>
                                    <td>@item.Quality</td>
                                    <td>@item.Identifier</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.WatchDogSummaries != null)
            {
                <div class="my-4 ml-4">
                    <form asp-action="Export" asp-controller="Electronic" asp-route-operation="WatchDogSummary" method="post">
                        <input type="hidden" name="GridHtml" />
                        <button type="submit" class="btn btn-secondary btnSubmit">Download a copy <i class="fas fa-download pl-4"></i></button>
                    </form>
                </div>
                <div id="Grid">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-grey">
                            <tr class="text-black">
                                <th>Advertiser</th>
                                <th>Station</th>
                                <th>Brand</th>
                                <th>Number Of Spots</th>
                                <th>Amount</th>
                                <th>Zone</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.WatchDogSummaries)
                            {
                                <tr>
                                    <td>@item.Advertizer</td>
                                    <td>@item.Station</td>
                                    <td>@item.Brand</td>
                                    <td>@item.NumberofSpots</td>
                                    <td>₦@item.Amount.ToString()</td>
                                    <td>@item.Zone</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.WatchDogSummaryPresses != null)
            {
                <div class="my-4 ml-4">
                    <form asp-action="Export" asp-controller="Electronic" asp-route-operation="WatchDogSummaryPrint" method="post">
                        <input type="hidden" name="GridHtml" />
                        <button type="submit" class="btn btn-secondary btnSubmit">Download a copy <i class="fas fa-download pl-4"></i></button>
                    </form>
                </div>
                <div id="Grid">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-grey">
                            <tr class="text-black">
                                <th>Advertiser</th>
                                <th>Brand</th>
                                <th>Publication</th>
                                <th>Position</th>
                                <th>Number Of Spots</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.WatchDogSummaryPresses)
                            {
                                <tr>
                                    <td>@item.Advertizer</td>
                                    <td>@item.Brand</td>
                                    <td>@item.Publication</td>
                                    <td>@item.Position</td>
                                    <td>@item.NumberOfSpots</td>
                                    <td>₦@item.Amount.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.WatchDogSummaryOutdoors != null)
            {
                <div class="my-4 ml-4">
                    <form asp-action="Export" asp-controller="Electronic" asp-route-operation="WatchDogSummaryOOH" method="post">
                        <input type="hidden" name="GridHtml" />
                        <button type="submit" class="btn btn-secondary btnSubmit">Download a copy <i class="fas fa-download pl-4"></i></button>
                    </form>
                </div>
                <div id="Grid">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-grey">
                            <tr class="text-black">
                                <th>Advertiser</th>
                                <th>State</th>
                                <th>Town</th>
                                <th>Location</th>
                                <th>Brand</th>
                                <th>Quality</th>
                                <th>Total</th>
                                <th>Good</th>
                                <th>Defect</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.WatchDogSummaryOutdoors)
                            {
                                <tr>
                                    <td>@item.Advertizer</td>
                                    <td>@item.State</td>
                                    <td>@item.Town</td>
                                    <td>@item.Location</td>
                                    <td>@item.Brand</td>
                                    <td>@item.Quality</td>
                                    <td>@item.Total</td>
                                    <td>@item.Good</td>
                                    <td>@item.Defect</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });

        $('ul.navbar-nav.sidebar.accordion li a').each(function () {
            if ($(this).hasClass('watchdog')) {
                $(this).parent().addClass('active mt-4 text-center');
                $(this).children('i').addClass('acting');
            } else {
                $(this).parent().removeClass('active mt-4 text-center');
                $(this).children('i').removeClass('acting');
            }
        });
    </script>
}